<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042214968619-8mmg0g1lb2bn4lvt6g6n6f8ke4v1o3gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042214968619-8mmg0g1lb2bn4lvt6g6n6f8ke4v1o3gg</string>
	<key>API_KEY</key>
	<string>AIzaSyBZUJz-JBfB9cxvvU6ZUqv3wt6cATWohpk</string>
	<key>GCM_SENDER_ID</key>
	<string>1042214968619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.designer.bykakrentalcenter</string>
	<key>PROJECT_ID</key>
	<string>bykakrental</string>
	<key>STORAGE_BUCKET</key>
	<string>bykakrental.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042214968619:ios:69ac17b7360e79e866396e</string>
</dict>
</plist>